<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">Cost</th>
    </tr>
  </thead>
  <tbody>
    {{#each customers as |customer| }}
    <tr>
      <th scope="row">{{customer.id}}</th>
      <td>{{customer.name}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.address}}</td>
      <td>{{customer.cost}}</td>
    </tr>
   {{/each}}
  </tbody>
</table>