<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
          <span class="navbar-brand" href="#">Brand</span>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <form class="form-inline">
              <input class="form-control mr-sm-2" type="text" />
              <button class="btn btn-primary my-2 my-sm-0" type="submit">
                Search
              </button>
            </form>

            <a class="nav-link text-white" href="#" id="logout">Log Out</a>

          </div>
        </nav>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">Cost</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each customers as |customer| }}
    <tr class="custRow" id={{customer.id}}>
      <td><div class="info" contenteditable="false">{{customer.name}}</div></td>
      <td><div class="info" contenteditable="false">{{customer.email}}</div></td>
      <td><div class="info" contenteditable="false">{{customer.address}}</div></td>
      <td><div class="info" contenteditable="false">{{customer.cost}}</div></td>
      <td> <button type="button" class="btn btn-sm btn-rounded editButton">Edit</button> </td>
    </tr>
   {{/each}}
  </tbody>
</table>
<script src="/customerPage.js"></script>
<script src="/logout.js"></script>
</body>